<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>PassValidation</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>PassValidation</servlet-name>
  	<servlet-class>p1.PassValidation</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>PassValidation</servlet-name>
  	<url-pattern>/PassValidation</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
		<servlet-name>Display</servlet-name>
		<url-pattern>/Display</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Display</servlet-name>
		<servlet-class>p1.Display</servlet-class>
	</servlet>
  
</web-app>